<div class="row">
  <% @products.each do |product| %>
  <div class="col-xs-6 col-md-3">
    <%= link_to product_path(product) do %>
      <% if product.image.present? %>
        <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
      <% else %>
        <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
      <% end %>
    <% end %>
    <%= product.title %> ¥ <%= product.price %>
  </div>
  <% end %>
</div>

<div class="embed-responsive embed-responsive-16by9">
<embed height="415" width="544" quality="high" allowfullscreen="true" type="application/x-shockwave-flash" src="//static.hdslb.com/miniloader.swf" flashvars="aid=8556160&page=1" pluginspage="//www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash"></embed></div>
