<!DOCTYPE html>
<html>
  <head>
    <title>PhotoStock</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="container">
      <%= render "common/navbar" %>
      <%= render "common/flashes" %>
      <%= yield %>
    </div>

    <%= render "common/footer" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <script type="text/javascript" src="assets/javascripts/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="assets/javascripts/bootstrap.min.js"></script>
  </body>
</html>
